#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.question-section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.question-container {
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.capybara-container {
  flex: 1;
}

.riolu-container {
  flex: 1;
  height: auto;
  width: auto;
}

.capybara-gif {
  height: 160px;
  transform: rotateY(180deg);
}

.riolu-gif {
  height: 160px;
  margin-top: -30px;
}

.valentine-container {
  opacity: 0;
  margin-top: 30px;
  transition: opacity 0.8s ease-in-out;
}

.valentine-container.show {
  opacity: 1;
}

.valentine-gif {
  width: 100%;
  max-width: 400px;
}

@media only screen and (max-width: 875px) {
  .question-section {
    display: block;
  }
}
