:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Dancing Script", cursive;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: darkslateblue;
  background-color: pink;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: ghostwhite;
  background-color: darkslateblue;
  cursor: pointer;
  transition: border-color 0.25s;
  will-change: filter;
  transition: filter 300ms;
}
button:hover {
  filter: drop-shadow(0 0 2em red);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
